@charset "UTF-8";
/* CSS Document */
html
{
	max-width: 900px;
	max-height:700px;
	min-width:1000px;
}
body 
{
background-attachment:fixed;
background-color:#1BBC9B;
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
color:#D8D8D8;
width:100%;
height:100%;
min-width:1000px;
max-height:700px;
/*overflow:hidden;*/
}
#loader
{
	position:absolute;
	z-index:9999;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#000;
}
#bg-left
{
	position:fixed;
	top:0px;
	left:-100%;
	width:100%;
	height:100%;
}
#bg-right
{
	position:fixed;
	top:0px;
	right:-100%;
	width:100%;
	height:100%;
}
body a
{
	text-decoration:underline;
	color:#000;
}
#theemechooser
	{
		position:absolute;
		top:0%;
		left:95%;
		width:70px;
	}
	#themechooser ul li{
		display:inline;}
#logo
{
	position:absolute;
	width:auto;
	height:30%;
	left:45%;
	top:-50%;
	font-family: 'Comfortaa', cursive;
	font-size:larger;
	
	
}
#content-holder
{
	position:absolute;
	
	
	left:25%;
	top:-83%;
	font-family: 'Comfortaa', cursive;
	font-size:48px;
	
}
#FXLogo
{
	position:absolute;
	width:80%;
	height:auto;
	left:10%;
	top:-83%;
	
}
#content-head
{
	font-family:Tahoma, Geneva, sans-serif;
	color:#333;
	font-size:44px;
	position:absolute;
	left:30%;
	top:38%;
	text-align:center;
	width:55%;
	font-weight:bold;
	text-shadow:0px 1px 5px #555;
}
#content-body
{
	font-family:Tahoma, Geneva, sans-serif;
	color:#333;
	font-weight:normal;
	position:absolute;
	width:65%;
	height:65%;
	right:6%;
	top:50%;
	text-shadow:0px 1px 5px #555;
}
#content-body a:hover
{
	text-decoration:none;
	
	text-shadow: 0 0px 2px #000;
}

#menu { position:absolute; top:90%; right:-100%;width:auto;-moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px; }
#menu ul { list-style:none }
#menu ul li {  display:inline;font-family:Tahoma, Geneva, sans-serif; font-size:24px; text-align:center; padding-left:15px;}
#menu ul li a { color:#FFF; text-decoration:none; font-weight:bold; padding-right:20px; text-align:center;
	font-weight:bold;
	padding-left:15px; }

	 #l1 a { 
color:#FFF;
	font-family: 'Lobster', cursive;
	
     text-align:center; padding-left:1px;
	

	 }
	 #l2 a { 
color:#FFF;
	font-family: 'Lobster', cursive;
     text-align:center; padding-left:15px;
	
	 }
	 #l3 a
	{
		
color:#FFF;
	/*font-family: 'Lobster', cursive;
	 	font-family: 'Audiowide', cursive;
*/
	 	font-family: 'Lobster', cursive;
	
	}
	#l4 a
	{
		
color:#FFF;
	/*font-family: 'Lobster', cursive;
	 	font-family: 'Audiowide', cursive;
*/
	 	font-family: 'Lobster', cursive;
	
	}
	
	#menu ul li a:hover
	{
		background:#4ECDC4;
		text-decoration:underline;
		
	}
	
	#whit
	{
		background-color:#FFF;
		width:25px;
		border-style:solid;
		border-color:#000;
		color:#FFF;
	}
	#blac
	{
		background-color:#000;
		width:25px;
		border-style:solid;
		border-color:#FFF;
	}