@charset "UTF-8";
/* CSS Document */
body 
{
color:#2E2E2E;
background-color:#D8D8D8;
font-family: 'Comfortaa', cursive;
height:100%;
width:100%;
overflow:hidden;
}
body a
{
	text-decoration:underline;
	color:#000;
}
body a:hover
{
	color:#1BBC9B;
}
#container
{
	position:relative;
	width:1000px;
	height:550px;
	margin-left:auto;
	margin-right:auto;
	background-color:#E6E6E6;
	
	border:3px solid #1BBC9B;
	border-radius: 15px;
}

#FXLogoimg
{
	width:300px;
	position:relative;
	left:355px;
}
#descText
{
	position:relative;
	top:-70px;
	margin-left:20px;
	text-align:center;
}
#bannertext
{
	
	font-size:64px;
}
#nextText
{
	position:relative;
	top:-30px;
}
#thirdText
{
	position:relative;
	top:-30px;
}
#paraFormat
{
	position:relative;
	top:-30px;
	font-size: larger;
	text-align:center;
	width:750px;
	left:100px;
	/*color:#1BBC9B;*/
}
.greenText
{
	color:#1BBC9B;
}
#footerText
{
	position:relative;
	top:5px;
	left:860px;
	font-size:12px;
	text-align: right;
}
